<ion-header>

  <ion-navbar color="hcolor">
    <ion-title>Game</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="gameEndFlag">
    <div *ngIf="groupStatus==''"><p>You have to join a group first</p>
      <button ion-button block color="danger" (click)="joinGroup()">Join Group</button>
    </div>
    <div *ngIf="groupStatus!=''&&groupStatus!=null">Welcome, please wait for the game master to start the game!</div>
  </div>
  <div *ngIf="gameInProgress">
    <div *ngIf="groupStatus==''"><p>Game has already started, you can not join group now, follow others and enjoy!</p>
    </div>
    <div *ngIf="groupStatus!=''&&groupStatus!=null">

      <ion-list>
        <ion-item-group *ngFor="let puzzleId of puzzleIds">
          <ion-item *ngIf="puzzleStatusDetails[puzzleId].solved==true">
            <ion-thumbnail item-start>
              <img src={{puzzleDetailArray[puzzleId].photoUrl}}>
            </ion-thumbnail>
            <h2> {{puzzleDetailArray[puzzleId].title}}</h2>
            <p>Solved by:{{puzzleStatusDetails[puzzleId].solvedBy}}</p>
          </ion-item>
        </ion-item-group>
        <ion-item *ngIf="firstUnsolvedId" color="hcolor" (click)="solveThePuzzle(firstUnsolvedId)">
          <ion-thumbnail item-start>
            <img src={{puzzleDetailArray[firstUnsolvedId].photoUrl}}>
          </ion-thumbnail>
          <h2>{{puzzleDetailArray[firstUnsolvedId].title}}</h2>
          <p>To be solved</p>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div *ngIf="groupStatus!=''&&groupStatus!=null&&gameInProgress">
    <ion-toolbar color="hcolor">
      <ion-grid style="color: white">
        <ion-row style="text-align: center;">
          <ion-col col-6>
            Time used: {{timer|date:'HH:mm:ss':'UTC'}}
          </ion-col>
          <ion-col col-6>
            Point: {{point}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </div>
</ion-footer>
