<ion-header>

  <ion-navbar color="hcolor">
    <ion-title>Admin</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item>
      <button ion-button block (click)="editGame()"> Edit game</button>
    </ion-item>
    <ion-item>
      <button ion-button block (click)="manageGroup()"> Manage group</button>
    </ion-item>
    <ion-item>
      <button ion-button block (click)="manageUser()"> Manage user</button>
    </ion-item>
    <ion-item>
      <button *ngIf="!gameInProgress" ion-button block (click)="gameStart()"> Game start</button>
      <div *ngIf="gameInProgress" class="row">
        <div class="col">
          <div class="text-center">
            <h5 style="text-align: center;">Game started at:{{gameStartTime| date:'HH:mm ,dd MMM'}}</h5>
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <button *ngIf="gameInProgress" ion-button block (click)="gameEnd()"> Game end</button>
      <div *ngIf="gameEndFlag" class="row">
        <div class="col">
          <div class="text-center">
            <h5 style="text-align: center;">Game ended at {{gameEndTime|date:'HH:mm ,dd MMM'}}</h5>
          </div>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div *ngIf="gameEndFlag||gameInProgress" class="row">
        <div class="col">
          <div class="text-center">
            <h5 style="text-align: center;">Game time used: {{timer|date:'HH:mm:ss':'UTC'}}</h5>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
