<ion-header >

  <ion-navbar color="hcolor">
    <ion-title>JoinGroup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list >
    <ion-item *ngFor="let keyTemp of groupDetailKeys">
      <ion-avatar item-start>
        <img src={{groupDetails[keyTemp].photoUrl}}>
      </ion-avatar>
      <h2>{{groupDetails[keyTemp].name}}</h2>
      <p><i>Group created on: {{keyTemp| date:'HH:mm ,dd MMM'}}</i></p>
      <p>No.of user:{{memberNumber[keyTemp]}}/10</p>
      <button *ngIf="memberNumber[keyTemp]!=10" ion-button clear item-end (click)="joinGroup(keyTemp)">Join</button>
    </ion-item>
  </ion-list>
  <button  ion-button block color="danger" (click)="createGroup()">Create Group</button>
</ion-content>
