<ion-header>

  <ion-navbar color="hcolor">
    <ion-title>Chat</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <div *ngIf="gameGroupStartFlag!=true||gameEndFlag">
    <button *ngIf="noGroupFlag" ion-button block color="danger" (click)="joinGroup()">Join Group Now</button>
    <ion-item *ngIf="gotGroupFlag">
      <ion-avatar item-start>
        <img src={{singleGroupDetail.photoUrl}}>
      </ion-avatar>
      <h2>{{singleGroupDetail.name}}</h2>
      <p><i>Leader:{{leaderName}}</i></p>
      <p>Group no.:{{("00"+singleGroupDetail.groupNumber).slice(-3)}}</p>
    </ion-item>
    <button *ngIf="gotGroupFlag" ion-button block color="danger" (click)="changeGroup()">Change Group</button>
  </div>
  <div *ngIf="gameInProgress&&gameGroupStartFlag">
    Game is in progress. You can not change or quit group.
  </div>
</ion-content>
